* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.ctnr-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-header {
    font-size: 1em;
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 0.3em 0.2em;
    margin: 0.3em;
}

.ctnr-footer {
    
}